SELECT base_long,
    sum(abs(f.units)) as units, 
    sum(abs(f.volume)) as volume , 
    sum(abs(f.value)) as value , 
    TO_DATE(SUBSTRING(t.long , 3), 'DD Month YYYY') as wdate
  from (
SELECT m1.tag base_tag, m1."long" base_long , m3.tag tag, m3."long"  "long "
  FROM public.dim_mkt m1
  left join dim_mkt m2 on m1.tag = m2.parent_tag
  left join dim_mkt m3 on m2.tag = m3.parent_tag
  where m3.hier_level_num = 3
  
union 

SELECT m1.tag base_tag, m1."long" base_long , m2.tag tag, m2."long"  "long "
  FROM public.dim_mkt m1
  left join dim_mkt m2 on m1.tag = m2.parent_tag
  where m2.hier_level_num = 2

union 

SELECT m1.tag base_tag, m1."long" base_long , m1.tag tag, m1."long"  "long "
  FROM public.dim_mkt m1
  where m1.hier_level_num = 1) m
  
  left join fact f on m.tag = f.mkt_tag
  left join dim_per t on f.per_tag = t.tag
  
  group by m.base_long, t.long
  order by  TO_DATE(SUBSTRING(t.long , 3), 'DD Month YYYY'), m.base_long
  
![alt text](root_market_metrics.jpg "product relation")

In this query we've got the center office of markets as a unit and sum up all units,volume and value metrics for it's per each week . as shown in the result we have a record per market per week, even if there is no any relevant record in the fact table. This could help us on analyse and visualizing. we should consider the null value as a zero.

In [24]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


engine = create_engine('postgresql://postgres:postgres@localhost/postgres')

def get_dataframe() :
    query = """
                SELECT base_long,
                        sum(abs(f.units)) as units, 
                        sum(abs(f.volume)) as volume , 
                        sum(abs(f.value)) as value , 
                        TO_DATE(SUBSTRING(t.long , 3), 'DD Month YYYY') as wdate 
                from (
                        SELECT m1.tag base_tag,
                                m1.long base_long ,
                                m3.tag tag,
                                m3.long "long"
                        FROM public.dim_mkt m1 
                        left join dim_mkt m2 on m1.tag = m2.parent_tag 
                        left join dim_mkt m3 on m2.tag = m3.parent_tag 
                        where m3.hier_level_num = 3
                    union
                        SELECT m1.tag base_tag,
                                m1.long base_long ,
                                m2.tag tag,
                                m2.long "long" 
                        FROM public.dim_mkt m1 
                        left join dim_mkt m2 on m1.tag = m2.parent_tag 
                        where m2.hier_level_num = 2
                    union
                        SELECT m1.tag base_tag, 
                        m1.long base_long , 
                        m1.tag tag, 
                        m1.long "long" 
                        FROM public.dim_mkt m1 
                        where m1.hier_level_num = 1
                        ) m
                left join fact f on m.tag = f.mkt_tag 
                left join dim_per t on f.per_tag = t.tag
                group by m.base_long, t.long 
                order by TO_DATE(SUBSTRING(t.long , 3), 'DD Month YYYY'), m.base_long
            """
    return pd.read_sql_query(query,con=engine)

df = get_dataframe().reset_index()
df.fillna(0, inplace=True)
df.units = df.units.abs()
df.value = df.value.abs()
df.volume = df.volume.abs()

df.head()

,index,base_long,units,volume,value,wdate
0,0,GB Grocery Multiples,1.638943e+09,9.648276e+10,7.127155e+09,2018-06-09
1,1,GB Iceland GSD,0.000000e+00,0.000000e+00,0.000000e+00,2018-06-09
2,2,GB M&S GSD,0.000000e+00,0.000000e+00,0.000000e+00,2018-06-09
3,3,GB Multiple Impulse,3.119622e+07,1.061701e+09,9.772464e+07,2018-06-09
4,4,GB Symbols,1.277408e+07,4.495444e+08,3.880666e+07,2018-06-09