In [1]:
from sqlalchemy import create_engine
import pandas as pd

query = """
WITH RECURSIVE parents( tag, parent_tag, root_tag ,root_name) 
AS (
  -- get root nodes
  SELECT tag, parent_tag, tag AS root_tag , long as root_name
  FROM public.dim_mkt
  WHERE parent_tag IS NULL

  UNION ALL

  -- get children  
  SELECT t.tag, t.parent_tag, p.root_tag , p.root_name
  FROM parents p
  JOIN public.dim_mkt t
  ON t.parent_tag = p.tag
)

SELECT root_name , sum(coalesce(units,0)) units , sum(coalesce(value,0)) value, sum(coalesce(volume,0)) volume
from parents m
left join fact f on f.mkt_tag = m.tag
group by root_name
order by value desc
"""

engine = create_engine('postgresql://postgres:postgres@localhost/postgres')
df = pd.read_sql_query(query,con=engine)
df.head()

              root_name         units          value          volume
0     GB Total Coverage  590409779062  2593896032874  36097322282009
1  GB Grocery Multiples  283361055939  1258005821011  17598655814507
2   GB Multiple Impulse    5328290816    16475394741    183157079924
3            GB Symbols    2182937674     6519583073     76978065127
4        GB Iceland GSD             0              0               0